extends layout.pug

block content
  h1 Index View!
  ul
    each dog in dogArr
      .dog-index-item
        li= "Name: " +  dog.name
        a.view-detail(href='/' + dog.id) View Detail
  .links
    a(href="/new") Add New Dog
